.dashboard{
    // background-color: pink;
    margin: 0px 30px;
    padding: 10px;


    h1{
        // background-color: aqua;
        font-size: 70px;
    }

    .dashboard-body{
        padding: 30px 10px;
        background-color: #6663;
        border-radius: 10px;
        p{
            margin: 0px 0px;
        }
    }
}